
/* Para ver a cor de fundo azul é necessário tirar o background-image
Que está sob a cor de fundo impedindo a visualização*/
#cabecalho
{
    background-color: rgb(15, 15, 112);
}

h1, h2
{
    font-family: serif;
}

.link a
{
    font-weight: bold;
}

.container
{
    padding: 20px;
}

#conteudo-principal
{
    line-height: 1.5;
}

form
{
    border: 1px solid gray;
    padding: 10px;
}

p
{
    color: green;
}

form button
{
    background-color: rgb(15, 15, 112);
    color: white;
}

